{% extends "base.html" %}
{% block content %}
<div class="content-box-large">
	<div class="panel-heading">
	<div class="panel-title">Secretarias</div>
</div>
	<div class="panel-body">
		<table cellpadding="0" cellspacing="0" border="0" class="table table-striped">
				<thead>
					<tr>
						<th>Secretarias</th>
						<th>Abrev.</th>
						<th>Scretário(a)</th>
					</tr>
				</thead>
				<tbody>
					{% for field in rows %}
					<tr  class="odd gradeC">
						<td>{{field.secretaria}}</td>
						<td>{{field.sigla}}</td>
						<td>{{field.representante}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}