{% extends "base.html" %}
{% block content %}
<div class="content-box-large">
	<div class="panel-heading">
		<div class="panel-title">Home</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<a href="{% url 'core:requisicao-add' %}" class="btn btn-default btn-sm">
			<i class="glyphicon glyphicon-plus-sign"></i> Adicionar Requisição</a>
		</div>
		<hr>
		<div class="row">
			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
				<thead>
					<tr>
						<th>Processo/ano</th>
						<th>Pregão</th>
						<th>Secretaria</th>
						<th>Requisição</th>
						<th>Autorização</th>
					</tr>
				</thead>
				<tbody>
					{% for field in rows %}
					<tr data-href="{% url 'core:requisicao-view' pessoa=field.pessoa pk=field.id %}" class="odd gradeC">
						<td>{{ field.n_proc }}/{{ field.get_ano_display }}</td>
						<td>{{ field.fk_pregao.n_pregao }}/{{ field.fk_pregao.get_ano_display }}</td>
						<td>{{ field.secretaria.sigla }}</td>
						<td>{{ field.requisicao }}</td>
						<td>{{ field.aut }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}