<!doctype html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<title>{% block title %}{% endblock %} | SRP</title>
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'vendors/tags/css/bootstrap-tags.css' %}" />
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	<link rel="stylesheet" href="{% static 'vendors/datatables/dataTables.bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'vendors/bootstrap-datetimepicker/datetimepicker.css' %}" />

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

{% include "nav.html" %}
<div class="page-content">
	<div class="row">
		{% include "side_menu.html" %}
		<div class="col-md-10">
			<div class="row">
			{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</div>
<script src="{% static 'js/jquery.js' %}"></script> 
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script> 
<script src="{% static 'vendors/datatables/js/jquery.dataTables.min.js' %}"></script> 
<script src="{% static 'vendors/select/bootstrap-select.min.js' %}"></script> 
<script src="{% static 'vendors/tags/js/bootstrap-tags.min.js' %}"></script> 
<script src="{% static 'vendors/datatables/dataTables.bootstrap.js' %}"></script> 
<script src="{% static 'js/tables.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/forms.js' %}"></script>
<script type="text/javascript">
  $('tr[data-href]').on("click", function() {
      document.location = $(this).data('href');
  });
</script>
<script type="text/javascript">
$('{{erro}}').modal('show');
</script>
</body>
</html>