<div class="col-md-2">
	<div class="sidebar content-box" style="display: block;">
		<ul class="nav">
			<!-- Main menu -->
			<li class="current"><a href="{% url 'core:index'%}"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
			<li class="current"><a href="{% url 'core:secretarias'%}"><i class="glyphicon glyphicon-book"></i> Secretarias</a></li>
			<li class="submenu">
				<a href="#">
					<i class="glyphicon glyphicon-list"></i> Beneficiárias
					<span class="caret pull-right"></span>
				</a>
				
				<ul>
					<li><a href="{% url 'core:beneficiarias'%}"><i class="glyphicon glyphicon-calendar"></i> Beneficiárias</a></li>
					<li><a href="signup.html"><i class="glyphicon glyphicon-user"></i> Representantes</a></li>
				</ul>
			</li>
<!-- 			<li><a href="stats.html"><i class="glyphicon glyphicon-stats"></i> Statistics (Charts)</a></li>
			<li><a href="tables.html"><i class="glyphicon glyphicon-list"></i> Tables</a></li>
			<li><a href="buttons.html"><i class="glyphicon glyphicon-record"></i> Buttons</a></li>
			<li><a href="editors.html"><i class="glyphicon glyphicon-pencil"></i> Editors</a></li>
			<li><a href="forms.html"><i class="glyphicon glyphicon-tasks"></i> Forms</a></li>
			<li class="submenu">
				<a href="#">
					<i class="glyphicon glyphicon-list"></i> Pages
					<span class="caret pull-right"></span>
				</a>
			
				<ul>
					<li><a href="login.html">Login</a></li>
					<li><a href="signup.html">Signup</a></li>
				</ul>
			</li> -->
		</ul>
	</div>
</div>