{% extends "base.html" %}
{% block content %}
<div class="col-md-12 panel-info">
	<form method="POST" action="" class="form-horizontal" role="form">{% csrf_token %}
		<div class="row">
			<div class="col-md-12 panel-info">
				<div class="content-box-large box-with-header">
							{{ form.errors }}
					<div>

					<div class="row">
						<div class="col-sm-2">
							<label class="control-label" for="select-2">Pregão</label>
							{{form.fk_pregao}}
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="select-1">Secretaria</label>
							{{form.secretaria}}
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="select-1">Nº do Processo</label>
							{{form.n_proc}}
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="select-1">Ano</label>
							{{form.ano}}
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="select-1">Nº Requisição</label>
							{{form.requisicao}}
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="select-1">Nº Autorização</label>
							{{form.aut}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<label class="control-label" for="select-1">Data do Processo</label>
							{{form.data_pro}}
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="select-1">Data da Assinatura</label>
							{{form.assinatura}}
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="select-1">Data de Encerramento</label>
							{{form.vigencia}}
						</div>
					</div>
					<div class="row">
		
						<div class="col-sm-2">
							<label class="control-label" for="select-1">Projeto/Atividade</label>
							{{form.pa}}
						</div>

						<div class="col-sm-4">
							<label class="control-label" for="select-1">Elemento de Despesa</label>
							{{form.ed}}
						</div>

						<div class="col-sm-2">
							<label class="control-label" for="select-1">Meta</label>
							{{form.meta}}
						</div>

						<div class="col-sm-2">
							<label class="control-label" for="select-1">Ação</label>
							{{form.acao}}
						</div>

						<div class="col-sm-2">
							<label class="control-label" for="select-1">Fonte de Recursos</label>
							{{form.fonte}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<label class="control-label" for="select-1">Tipo de Empenho:</label>
							{{form.empenho}}
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="select-1">Possui Contrato</label>
							{{form.contrato}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label class="control-label" for="select-1">Objeto</label>
							{{form.objeto}}
						</div>
						<div class="col-sm-12">
							<label class="control-label" for="select-1">Justificativa</label>
							{{form.justificativa}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<input type="submit" class="btn btn-success" value="Salvar">
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</form>
</div>

{% endblock %}