{% extends "base.html" %}
{% block content %}
<div class="content-box-large">
	<div class="panel-heading">
		<div class="panel-title">
			Processo: {{requisicao.n_proc}}/{{requisicao.get_ano_display}}
		</div>
		<div class="panel-options">
			<form action="" method="get">
	    		<button data-rel="collapse" class="btn btn-default btn-sm" name="DownloadLib" value="0"><i class="glyphicon glyphicon-download-alt"></i> Liberação
	    		</button>
				<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
				<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
				
			</form>
		</div>
	</div>
	<div class="panel-body">

	    <table class="table table-bordered">
	      <thead>
	        <tr>
	          <th>Secretaria</th>
	          <th>Data</th>
	          <th>Requisição/Ano</th>
	          <th>Autorização</th>
	          <th>Data do Processo</th>
	          <th>Data da Assinatura</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr class="odd gradeA">
	          <td>{{ requisicao.secretaria.sigla }}</td>
	          <td>{{ requisicao.data_pro }}</td>
	          <td>{{ requisicao.requisicao }}/{{ requisicao.get_ano_display }}</td>
	          <td>{{ requisicao.aut }}</td>
	          <td>{{ requisicao.data_pro }}</td>
	          <td>{{ requisicao.assinatura }}</td>
	        </tr>
	      </tbody>
	    </table>
	    <table class="table table-bordered">
	      <thead>
	        <tr>
	          <th>Projeto/Atividade</th>
	          <th>Elemento de Despesa</th>
	          <th>Meta</th>
	          <th>Ação</th>
	          <th>Fonte</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr class="odd gradeA">
	          <td>{{ requisicao.pa }}</td>
	          <td>
	          	{% for ed in eds %}
	          	{{ed}}
	          	{% endfor %}
	          </td>
	          <td>{{ requisicao.meta }}</td>
	          <td>{{ requisicao.acao }}</td>
	          <td>{{ requisicao.fonte }}</td>
	        </tr>
	      </tbody>
	    </table>
	    <table class="table table-bordered">
	      <thead>
	        <tr>
	          <th>Justificativa</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr class="odd gradeA">
	          <td>{{ requisicao.justificativa }}</td>
	        </tr>
	      </tbody>
	    </table>

	    <table class="table table-bordered">
	      <thead>
	        <tr>
	          <th>Ocorrências</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr class="odd gradeA">
	          <td>
	          	{% for row in requisicao.fk_pregao.ocorrencias.all %}
	          	<p>{{ row.ocorrencia }}: Retificado pelo Pregão Presencial Nº {{ requisicao.fk_pregao }} do DOM {{ requisicao.fk_pregao.dom }} de {{ requisicao.fk_pregao.data}} conforme Consta no DOM {{ row.dom }} de {{ row.data}}</p>
	          	{% endfor %}
	          </td>
	        </tr>
	      </tbody>
	    </table>

	    <div class="col-md-12 panel-info">
	    	{% if not autorizacao %}
	    	<form action="" method="GET">
	    		<div class="row">
	    			<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus-sign"></i> Adicionar Iten</button>

	    			<button class="btn btn-default btn-sm" name="gerar" value="0">
	    				Gerar Autorizações
	    			</button>
	    		</div>
	    	</form>
	    	{% endif %}
	    </div>
	    <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ordem</th>
                    <th>Descrição</th>
                    <th>Unidade</th>
                    <th>Quantidade</th>
                    <th>Valor unitário</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item,subtotal in itens %}
                <tr class="odd gradeA">
                    <td>{{ item.ordem }}</td>
                    <td>{{ item.item.desc }}</td>
                    <td>{{ item.item.tipo }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>R$ {{ item.item.valor_unit }}</td>
                    <td>R$ {{subtotal}}</td>
                </tr>
                {% endfor %}
            <tr>
                <td colspan="5">Total: {{extenso}}</td>
                <td>R$ {{total}}</td>
            </tr>
            </tbody>
        </table>

	    <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Beneficiarias</th>
                    <th>Autorização</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            	{% if not autorizacao %}
	                {% for beneficiaria in beneficiarias %}
	                <tr class="odd gradeA">
	                    <td>{{ beneficiaria }}</td>
	                </tr>
	                {% endfor %}
	            {% else %}
		            {% for beneficiaria in autorizacao %}
		            <tr class="odd gradeA">
		            	{% if beneficiaria.fk_beneficiaria %}
		                <td>{{ beneficiaria.fk_beneficiaria }}</td>
		            	{% elif beneficiaria.fk_representante %}
		                <td>{{ beneficiaria.fk_representante }}</td>
		                {% endif %}
		                <td>{{ beneficiaria.autorizacao }}</td>
	                	<td>
	                		<a href="{% url 'core:auth-view' pk=beneficiaria.id %}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-eye-open"></i></a>
	                		<a href="{% url 'core:auth-view' pk=beneficiaria.id %}?download=0" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-download-alt"></i> Autorização </a>
	                		<a href="{% url 'core:auth-view' pk=beneficiaria.id %}?contrato=0" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-download-alt"></i> Contrato </a>
	                	</td>
		            </tr>
		            {% endfor %}

	            {% endif %}
            </tbody>
        </table>
	</div>

      <!-- Modal -->
    <form method="POST" action="">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Adicionar Itens</h4>
            </div>
            <div class="modal-body">
            {% csrf_token %}
              {% for field in form %}
              <div class="form-group">
                  {{field}}
                  {{ field.errors }}
            </div>
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input class="btn btn-default" type="submit" value=" Salvar " />
            </div>
          </div>
        </div>
      </div>
    </form>
</div>
{% endblock %}