{% extends "base.html" %}
{% block content %}
<div class="content-box-large">
	<div class="panel-heading">
		<div class="panel-title">
			Processo: {{rows.n_proc}}/{{rows.get_ano_display}}
		</div>
		<div class="panel-options">
			<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
			<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
		</div>
	</div>
	<div class="panel-body">

	    <table class="table table-bordered">
	      <thead>
	        <tr>
	          <th>Secretaria</th>
	          <th>Data</th>
	          <th>Requisição/Ano</th>
	          <th>Autorização</th>
	          <th>Data do Processo</th>
	          <th>Data da Assinatura</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr class="odd gradeA">
	          <td>{{ rows.secretaria.sigla }}</td>
	          <td>{{ rows.data_pro }}</td>
	          <td>{{ rows.requisicao }}/{{ rows.get_ano_display }}</td>
	          <td>{{ rows.aut }}</td>
	          <td>{{ rows.data_pro }}</td>
	          <td>{{ rows.assinatura }}</td>
	        </tr>
	      </tbody>
	    </table>
	    <table class="table table-bordered">
	      <thead>
	        <tr>
	          <th>Projeto/Atividade</th>
	          <th>Elemento de Despesa</th>
	          <th>Meta</th>
	          <th>Ação</th>
	          <th>Fonte</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr class="odd gradeA">
	          <td>{{ rows.pa }}</td>
	          <td>{{ rows.ed }}</td>
	          <td>{{ rows.meta }}</td>
	          <td>{{ rows.acao }}</td>
	          <td>{{ rows.fonte }}</td>
	        </tr>
	      </tbody>
	    </table>
	    <table class="table table-bordered">
	      <thead>
	        <tr>
	          <th>Justificativa</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr class="odd gradeA">
	          <td>{{ rows.justificativa }}</td>
	        </tr>
	      </tbody>
	    </table>

	    <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ordem</th>
                    <th>Descrição</th>
                    <th>Unidade</th>
                    <th>Quantidade</th>
                    <th>Valor unitário</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item,subtotal in itens %}
                <tr class="odd gradeA">
                    <td>{{ item.ordem }}</td>
                    <td>{{ item.item.desc }}</td>
                    <td>{{ item.item.tipo }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>R$ {{ item.item.valor_unit }}</td>
                    <td>R$ {{subtotal}}</td>
                </tr>
                {% endfor %}
            <tr>
                <td colspan="5">Total</td>
                <td>R$ {{total}}</td>
            </tr>
            </tbody>
        </table>

	    <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Beneficiarias</th>
                    <th>Autorização</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            	{% if not autorizacao %}
	                {% for representante in representantes %}
	                <tr class="odd gradeA">
	                    <td>{{ representante }}</td>
	                </tr>
	                {% endfor %}
	            {% else %}
		            {% for representante in autorizacao %}
		            <tr class="odd gradeA">
		                <td>{{ representante.fk_representante }}</td>
		                <td>{{ representante.autorizacao }}</td>
		                <td>
		                	<a href="{% url 'core:auth-view-f' pk=representante.id %}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-eye-open"></i></a>
		                	<a href="#" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-download-alt"></i></a>
		                </td>
		            </tr>
		            {% endfor %}
	            {% endif %}
            </tbody>
        </table>
	</div>
    {% if not autorizacao %}

	    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus-sign"></i> Adicionar Iten</button>
    <form action="" method="GET">
      <button name="download" value="0">
          Download
      </button>
    </form>
	{% endif %}
      <!-- Modal -->
    <form method="POST" action="">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Adicionar Itens</h4>
            </div>
            <div class="modal-body">
            {% csrf_token %}
              {% for field in form %}
              <div class="form-group">
                  {{field}}
                  {{ field.errors }}
            </div>
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input class="btn btn-default" type="submit" value=" Salvar " />
            </div>
          </div>
        </div>
      </div>
    </form>
</div>
{% endblock %}