{% extends "base.html" %}
{% block content %}
<div class="content-box-large">
	<div class="panel-heading">
	<div class="panel-title">Beneficiárias</div>
</div>
	<div class="panel-body">
		<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
				<thead>
					<tr>
						<th>Beneficiário(a)</th>
					</tr>
				</thead>
				<tbody>
					{% for field in rows %}
					<tr data-href="{% url 'core:beneficiaria-view' pk=field.CNPJ %}" class="odd gradeC">
						<td>{{field.beneficiaria}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}