{% extends "base.html" %}
{% block content %}
<div class="content-box-large">
	<div class="panel-heading">
	<div class="panel-title">Beneficiária</div>
</div>
	<div class="panel-body">
		<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Beneficiário(a)</th>
						<th>CNPJ</th>
						<th>Endereço</th>
						<th>phone</th>
						<th>Inscrição Estadual</th>
						<th>E-mail</th>
						<th>Representantes</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd gradeC">
						<td>{{rows.beneficiaria}}</td>
						<td>{{rows.CNPJ}}</td>
						<td>{{rows.endereco}}</td>
						<td>{{rows.phone}}</td>
						<td>{{rows.inscricao}}</td>
						<td>{{rows.email}}</td>
						<td>{% for repre in rows.fk_representante.all%}
							{{repre}}
							{% endfor %}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}