{% extends "base.html" %}
{% block content %}

<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Autorização</div>

        <div class="panel-options">

            <a href="#"> 
            <i class="glyphicon glyphicon-download-alt"></i> Autorização </a> / 
 
            <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Processo/Ano</th>
              <th>Secretaria</th>
              <th>Data</th>
              <th>Requisição/Ano</th>
              <th>Autorização/Ano</th>
              <th>Contrato/Ano</th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd gradeA">
              <td align="center" >{{ rows.fk_requisicao.n_proc }}/{{ rows.fk_requisicao.get_ano_display }}</td>
              <td align="center" >{{ rows.fk_requisicao.secretaria.sigla }}</td>
              <td align="center" >{{ rows.fk_requisicao.data_pro }}</td>
              <td align="center" >{{ rows.fk_requisicao.requisicao }}/{{ rows.fk_requisicao.get_ano_display }}</td>
              <td align="center" >{{ rows.autorizacao }}/{{ rows.fk_requisicao.get_ano_display }}</td>
              <td align="center" >{{ rows.contrato }}/{{ rows.fk_requisicao.get_ano_display }}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Beneficiaria</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeA">
                      {% if beneficiaria %}
                    <td >{{ beneficiaria }}</td>
                      {% elif representante %}
                    <td >{{ representante }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Projeto/Atividade</th>
                    <th>Elemento de Despesa</th>
                    <th>Meta</th>
                    <th>Ação</th>
                    <th>Fonte</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeA">
                    <td align="center" >{{ pa }}</td>
                    <td align="center" >
                      {% for ed in eds %}
                      {{ed}}<br>
                      {% endfor %}
                    </td>
                    <td align="center" >{{ meta }}</td>
                    <td align="center" >{{ acao }}</td>
                    <td align="center" >{{ fonte }}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Justificativa</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeA">
                    <td>{{ rows.fk_requisicao.justificativa }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Ordem</th>
              <th>Descrição</th>
              <th>Unidade</th>
              <th>Quantidade</th>
              <th>Valor unitário</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for k,v in itemed %}
              <tr>
                <td align="center" colspan="6">Elemento de Despesa: {{k.0}}</td>
              </tr>
              {% for item,subtotal in v %}
              <tr class="odd gradeA">
                <td align="center" >{{ item.ordem }}</td>
                <td align="center" >{{ item.item.desc }}</td>
                <td align="center" >{{ item.item.tipo }}</td>
                <td align="center" >{{ item.quantidade }}</td>
                <td align="center" >R$ {{ item.item.valor_unit }}</td>
                <td align="center" >R$ {{subtotal}}</td>
              </tr>
              {% endfor %}
            {% endfor %}
            <tr>
              <td align="center" colspan="5">Total</td>
              <td align="center" >R$ {{total}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>VALOR DA DESPESA (R$):</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeA">
                    <td>{{ extenso }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <form action="" method="GET">
      <button class="btn btn-success btn-sm" name="download" value="{{ rows.id }}"><i class="glyphicon glyphicon-download-alt"> Download </i>
      </button>
    </form>
</div>

{% endblock %}
